<header class="masthead" style="background-image:url('assets/images/bannerblur.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-14 mx-auto">
          <div class="site-heading">
            <h1 ng-bind="header.title"></h1>
            <div class="logo">
              <img src="assets/images/logo.png" alt="">
            </div> 
            <span class="subheading" ng-bind="header.subtitle"></span>
            <span class="meta" ng-if="header.byline.length > 0" ng-bind="header.byline">
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>