.btn {
    background-color:black;
    }

    .numeri{
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial,serif;
        border-bottom: 1px solid #e9ecef;
        background-color: #fff;
        font-weight: 700;
    }
   

    .post{}
    

   